{% extends './base.html.twig' %}

{% block body %}
  <div> The current messsage is: </div>
  <div>
    <b>{{ message.message }}</b>
    {{ include('hello/_message.html.twig', {message: message})}}
  </div>
{% endblock %}